<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Szakdoga.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Szakdoga.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SheetHeight" serializeAs="String">
                <value>2070</value>
            </setting>
            <setting name="SheetWidth" serializeAs="String">
                <value>2800</value>
            </setting>
            <setting name="BladeThickness" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SheetPadding" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SheetColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SheetManufacturer" serializeAs="String">
                <value>Unknown</value>
            </setting>
            <setting name="SheetPrice" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="EdgeSealingPrice" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Currency" serializeAs="String">
                <value>Huf</value>
            </setting>
        </Szakdoga.Properties.Settings>
    </userSettings>
</configuration>